.bx-header {
  &.--test {
    height: 100px;
  }
}
.bx-wrapper {
  &.--test {
    padding-top: 100px;
  }
}

.contacts {
  padding-bottom: 30px;
  &__block {
    background: #FFFFFF;
    box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.0);
    font-size: 14px;
    color: #6A6A6A;
    margin-bottom: 40px;
    position: relative;
    transition: box-shadow 0.35s;
    &.--ones {
      box-shadow: none;
      margin-bottom: 0;
      &:hover {
        box-shadow: none;
      }
    }
    &:hover {
      box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.05);
    }
    &-wrapper {
      margin: 0;
      display: flex;
      &>div {
        padding: 0;
        min-height: 320px;
        &.div1 {
          padding: 25px 30px 90px 30px;
          position: relative;
          width: calc(100% - 578px);
          .--ones & {
            padding-left: 0;
          }
        }
        &.div2 {
          width: 578px;
        }
      }
    }
    &-title {
      margin-bottom: 20px;
      b {
        font-size: 20px;
        font-weight: 700;
        color: #232323;
        display: block;
        margin: 5px 0;
      }
    }
    &-btns {
      position: absolute;
      height: 36px;
      bottom: 30px;
      left: 30px;
      font-size: 14px;
      right: 37.5px;
      display: flex;
      justify-content: space-between;
      a {
        height: 36px;
        line-height: 36px;
        color: #6A6A6A;
        display: inline-block;
        &:hover {
          color: #232323;
        }
        &.link-map {
          width: 220px;
          color: #232323;
          text-transform: uppercase;
          border: 1px solid rgba(#232323,.3);
          text-align: center;
          font-weight: 700;
          font-size: 12px;
          &:hover {
            border-color: #232323;
          }
        }
      }
    }
    &-address {
      margin-bottom: 20px;
    }
    &-row {
      display: flex;
      align-items: center;
      margin-bottom: 5px;
      &>div {
        &:first-child {
          min-width: 142px;
          padding-right: 15px;
        }
        &:last-child {
          color: #232323;
          a {
            color: #232323;
          }
        }
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__carousel {
    .slick-slide {
      &:focus {
        outline: none;
      }
    }
    &-block {
      img {
        width: 100%;
      }
    }
    .slick-arrow {
      display: flex !important;
      justify-content: center;
      align-items: center;
      line-height: 0.7;
      color: #5d6a72;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: transparent;
      z-index: 2;
    }
    .slick-prev {
      left: 16px;
    }
    .slick-next {
      right: 16px;
    }
    .slick-arrow:hover {
      background-color: #b11e46;
      color: #fff;
    }
    .slick-prev:before,
    .slick-next:before {
      font-family: FontAwesome;
      color: inherit;
      font-size: 28px;
      line-height: 0.7;
      opacity: 1;
    }
    .slick-prev:before {
      content: "\f104";
    }
    .slick-next:before {
      content: "\f105";
    }
  }
  @media (max-width: 1199px) {
    &__block {
      &-wrapper {
        flex-direction: column;
        &>div {
          min-height: auto;
          &.div1, &.div2 {
            width: 100%;
          }
          &.div1 {
            padding: 25px 40px 30px 40px;
          }
        }
      }
      &-btns {
        position: relative;
        left: auto;
        right: auto;
        bottom: 0;
        max-width: 520px;
      }
      &-address {
        min-height: 100px;
      }
    }
  }
  @media (max-width: 767px) {
    margin-left: -15px;
    margin-right: -15px;
    &__block {
      &-wrapper {
        &>div {
          &.div1 {
            padding-left: 15px;
            padding-right: 15px;
            .--ones & {
              padding-left: 15px;
            }
          }
        }
      }
    }
  }
  @media (max-width: 599px) {
    &__block {
      &-btns {
        height: auto;
        flex-direction: column;
        &>div {
          &+div {
            padding-top: 10px;
          }
        }
      }
    }
  }
}

.map {
  width: 100%;
  height: 480px;
  position: relative;
  margin-bottom: 60px;
}

.coffee {
  background: rgba(#5D6A72,.1);
  position: relative;
  padding: 30px 86px 30px 373px;
  margin-top: 86px;
  margin-bottom: 65px;
  font-size: 15px;
  font-weight: 600;
  color: #232323;
  img {
    position: absolute;
    left: 77px;
    top: 50%;
    transform: translateY(-50%);
  }
  @media (max-width: 991px) {
    font-size: 14px;
    padding-left: 245px;
    padding-right: 10px;
    margin-top: 45px;
    img {
      width: 235px;
      left: 0;
    }
  }
  @media (max-width: 599px) {
    display: none;
  }
}

.map-address {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  &>div {
    &.div1 {
      flex-grow: 1;
    }
    &.div2 {
      flex-shrink: 0;
    }
  }
  &__title {
    font-weight: 600;
    font-size: 24px;
    color: #232323;
  }
  &__form {
    display: flex;
    &-btn {
      width: 40px;
      height: 40px;
      color: #fff;
      background: #B11E46;
      font-size: 0;
      border: 0;
      padding: 0;
      position: relative;
      border-radius: 0;
      opacity: 1;
      transition: all 0.35s;
      text-align: center;
      svg {
        display: inline-block;
      }
      span {
        display: none;
      }
      &:hover {
        opacity: 0.8;
      }
    }
    &-input {
      &[type="text"] {
        height: 40px;
        width: 440px;
        border: 1px solid rgba(0,0,0,.1);
        padding: 0 22px;
        font-weight: 600;
        font-size: 14px;
        background: #fff;
        border-radius: 0;
        color: #232323;
      }
    }
    &-select {
      width: 280px;
      border-radius: 0;
      border: 1px solid rgba(0,0,0,.1);
      margin-left: -1px;
      font-weight: 600;
      font-size: 14px;
      // text-transform: uppercase;
      padding: 0 50px 0 20px;
      appearance: none;
      color: #B11E46;
      background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAGCAYAAAD68A/GAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACXSURBVHgBbYwxCsJAEEVnZsEzeAq1sbAyx7BINHayNjEXSLyAWKVV0F5vIFYp0oRcJ2Qns4GFEPbDwP+fNx+jUxID0fZV3I7g0f58eYKBH4GipeQ40unDBzHjgQkDtEWo00xMLvarZmZY7lr1AeaAweTv4n5F9+1gRK5tlqWVg2xWDmyq8r9Yb8ThTm4+hryyy6FOsmnfA2J3NO0xnlG0AAAAAElFTkSuQmCC') calc(100% - 20px) 50% no-repeat;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      height: 40px;
      option {
        text-transform: none;
        color: #232323;
      }
      &:focus {
        outline: none;
      }
    }
  }
  @media (max-width: 1199px) {
    flex-direction: column;
    align-items: flex-start;
    &>div {
      width: 100%;
    }
    &__title {
      margin-bottom: 20px;
    }
    &__form {
      &-input {
        &[type="text"] {
          flex-grow: 1;
        }
      }
      &-select, &-btn {
        flex-shrink: 0;
      }
    }
  }
  @media (max-width: 991px) {}
  @media (max-width: 767px) {
    &__form {
      flex-direction: column;
      &>* {
        width: 100%;
      }
      &-select {
        margin-left: 0;
      }
      &-input {
        &[type="text"] {
          width: 100%;
          margin-bottom: -1px;
        }
      }
      &-btn {
        font-size: 14px;
        text-transform: uppercase;
        white-space: nowrap;
        span {
          display: inline-block;
          margin-right: 10px;
        }
        svg {
          display: inline-block;
          vertical-align: -4px;
          position: relative;
          top: 1px;
        }
      }
    }
  }
  @media (max-width: 599px) {}
  @media (max-width: 478px) {}
}

.partners {
  &__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    &>div {
      width: 33.3%;
      padding: 0 15px;
    }
  }
  &__block {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 30px;
    color: #232323;
    position: relative;
    &-thumb {
      overflow: hidden;
      position: relative;
      margin-bottom: 16px;
      img {
        width: 100%;
        transform: scale(1);
        transition: all 0.35s;
      }
    }
    &-title {
      color: #232323;
      padding-left: 30px;
      line-height: 1.8;
      position: relative;
      &::before {
        top: 8px;
        left: 0;
        content: '';
        position: absolute;
        background: url("data:image/svg+xml;charset=utf8,%3Csvg width='20' height='29' viewBox='0 0 20 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.78366 0C4.38899 0 0 4.38899 0 9.78366C0 16.5642 9.79328 28.1467 9.79328 28.1467C9.79328 28.1467 19.5673 16.2307 19.5673 9.78366C19.5673 4.38899 15.1785 0 9.78366 0ZM12.7356 12.6483C11.9216 13.4621 10.8527 13.8691 9.78366 13.8691C8.71476 13.8691 7.64551 13.4621 6.8319 12.6483C5.20415 11.0207 5.20415 8.37237 6.8319 6.74463C7.62009 5.95609 8.66855 5.5218 9.78366 5.5218C10.8988 5.5218 11.9471 5.95626 12.7356 6.74463C14.3633 8.37237 14.3633 11.0207 12.7356 12.6483Z' fill='%23B11E46'/%3E%3C/svg%3E") 0 0 no-repeat;
        width: 19px;
        height: 28px;
        background-size: contain;
      }
      a {
        color: #232323;
      }
    }
    &:hover {
      .partners__block-thumb {
        img {
          transform: scale(1.1);
        }
      }
    }
  }
  @media (max-width: 1199px) {}
  @media (max-width: 991px) {
    &__row {
      &>div {
        width: 50%;
      }
    }
  }
  @media (max-width: 767px) {}
  @media (max-width: 599px) {
    &__row {
      &>div {
        width: 100%;
      }
    }
  }
  @media (max-width: 478px) {}
}