doctype html
html(lang="en")
  head
    meta(charset='utf-8')

    title= pageTitle
    meta(name='description', content='')

    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

    meta(name='format-detection', content='telephone=no')
    meta(name='format-detection', content='date=no')
    meta(name='format-detection', content='address=no')
    meta(name='format-detection', content='email=no')
    meta(content='notranslate', name='google')
      
    //- Favicon
      link(rel='apple-touch-icon' sizes='57x57' href='./favicon/apple-touch-icon-57x57.png')
      link(rel='apple-touch-icon' sizes='60x60' href='./favicon/apple-touch-icon-60x60.png')
      link(rel='apple-touch-icon' sizes='72x72' href='./favicon/apple-touch-icon-72x72.png')
      link(rel='apple-touch-icon' sizes='76x76' href='./favicon/apple-touch-icon-76x76.png')
      link(rel='apple-touch-icon' sizes='114x114' href='./favicon/apple-touch-icon-114x114.png')
      link(rel='apple-touch-icon' sizes='120x120' href='./favicon/apple-touch-icon-120x120.png')
      link(rel='apple-touch-icon' sizes='144x144' href='./favicon/apple-touch-icon-144x144.png')
      link(rel='apple-touch-icon' sizes='152x152' href='./favicon/apple-touch-icon-152x152.png')
      link(rel='apple-touch-icon' sizes='180x180' href='./favicon/apple-touch-icon-180x180.png')
      link(rel='icon' type='image/png' sizes='32x32' href='./favicon/favicon-32x32.png')
      link(rel='icon' type='image/png' sizes='16x16' href='./favicon/favicon-16x16.png')
      link(rel='manifest' href='./favicon/site.webmanifest')
      link(rel='mask-icon' href='./favicon/safari-pinned-tab.svg' color='#5bbad5')
      link(rel='shortcut icon' href='./favicon/favicon.ico')
      meta(name='msapplication-TileColor' content='#da532c')
      meta(name='msapplication-TileImage' content='./favicon/mstile-144x144.png')
      meta(name='msapplication-config' content='./favicon/browserconfig.xml')
      meta(name='theme-color' content='#ffffff')

    //- link(rel='stylesheet', href='css/fonts.min.css')
    link(rel='stylesheet', href='./css/font-awesome.min.css')
    link(rel='stylesheet', href='./css/bootstrap.min.css')
    link(rel='stylesheet', href='./css/template_dcf29e61b53f916d725329efcb833daa_v1.css')
    link(rel='stylesheet', href='./js/slick.css')
    link(rel='stylesheet', href='./js/slick-theme.css')
    link(rel='stylesheet', href='./css/add.min.css?v0')
  body
    .bx-wrapper#bx_eshop_wrap(style='margin-top: 0px;').--test
      header.bx-header(style="background: #eee;").--test
      .container
        .page_bredcumb
          .bx-breadcrumb(itemscope itemtype='http://schema.org/BreadcrumbList')
            .bx-breadcrumb-item#bx_breadcrumb_0(itemprop='itemListElement' itemscope itemtype='http://schema.org/ListItem')
              a(href='/' title='Инлавка' itemprop='item')
                span(itemprop='name') Инлавка
              meta(itemprop='position' content='0')
            .bx-breadcrumb-item#bx_breadcrumb_1(itemprop='itemListElement' itemscope itemtype='http://schema.org/ListItem')
              i.fa.fa-angle-right
              a(href='/about/' title='О магазине' itemprop='item')
                span(itemprop='name') О магазине
              meta(itemprop='position' content='1')
            .bx-breadcrumb-item(itemprop='itemListElement' itemscope itemtype='http://schema.org/ListItem')
              i.fa.fa-angle-right
              a(itemprop='item')
                span(itemprop='name') Доставка
              meta(itemprop='position' content='2')
            div(style='clear:both')
        h1.bx-title.dbg_title#pagetitle Торгово-Деловой Центр "Смоленский Пассаж"
      .workarea
        .container.bx-content-seection

          // Contacts
          .contacts
            .contacts__block.--ones
              .contacts__block-wrapper
                .div1
                  .contacts__block-title 
                    span г. Москва, м.Смоленская, Смоленская площадь, д.3, 
                    b ТДЦ "Смоленский Пассаж",
                    span цокольный этаж
                  .contacts__block-address
                    .contacts__block-row
                      .div Телефон:
                      .div
                        a(href="tel:")
                          b +7 (495) 926-29-86
                    .contacts__block-row
                      .div What`sApp: 
                      .div
                        a(href="#!")
                          b +7 985 700-88-04
                    .contacts__block-row
                      .div Режим работы: 
                      .div
                        b ежедневно с 10 до 21
                  .contacts__block-btns
                    .div
                      a(href="#!").link-map Посмотреть на карте
                    .div
                      a(href="#!").link-catalog Посмотреть ассортимент салона
                .div2
                  .contacts__carousel
                    .contacts__carousel-block
                      img(src="./tmp/contacts-img-1.png", alt="").img-responsive
                    .contacts__carousel-block
                      img(src="./tmp/contacts-img-2.png", alt="").img-responsive
                    .contacts__carousel-block
                      img(src="./tmp/contacts-img-1.png", alt="").img-responsive
                    .contacts__carousel-block
                      img(src="./tmp/contacts-img-2.png", alt="").img-responsive
                    .contacts__carousel-block
                      img(src="./tmp/contacts-img-1.png", alt="").img-responsive
                    .contacts__carousel-block
                      img(src="./tmp/contacts-img-2.png", alt="").img-responsive

        // Map
        #map.map

      footer(style="background: #eee; height: 50px")
      script(src="./js/jquery.js")
      script(src="./js/ru_local_templates_eshop_bootstrap_green_js_additional_slick.min.js")
      script(src="./js/common.js")

      script(src='https://api-maps.yandex.ru/2.1/?apikey=ваш API-ключ&lang=ru_RU' type='text/javascript')
      script(type='text/javascript').
        // Функция ymaps.ready() будет вызвана, когда
        // загрузятся все компоненты API, а также когда будет готово DOM-дерево.
        ymaps.ready(init);
        function init(){
            // Создание карты.
            if ($("#map").length) {

              var myMap = new ymaps.Map('map', {
                  center: [55.713018, 37.641454],
                  zoom: 16,
                  controls: ['zoomControl']
                }, {}),

                myPlacemark = new ymaps.Placemark([55.713018, 37.641454], {
                  hintContent: '',
                  balloonContent: ''
                }, {
                  // Опции.
                  // Необходимо указать данный тип макета.
                  iconLayout: 'default#image',
                  // Своё изображение иконки метки.
                  iconImageHref: './tmp/marker.png',
                  // Размеры метки.
                  iconImageSize: [35, 51],
                  // Смещение левого верхнего угла иконки относительно
                  // её "ножки" (точки привязки).
                  iconImageOffset: [0, 0]
                });

              myMap.behaviors.disable('scrollZoom');

              myMap.geoObjects
                .add(myPlacemark);

            }
        }

