doctype html
html(lang="en")
  head
    meta(charset='utf-8')

    title= pageTitle
    meta(name='description', content='')

    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

    meta(name='format-detection', content='telephone=no')
    meta(name='format-detection', content='date=no')
    meta(name='format-detection', content='address=no')
    meta(name='format-detection', content='email=no')
    meta(content='notranslate', name='google')
      
    //- Favicon
      link(rel='apple-touch-icon' sizes='57x57' href='./favicon/apple-touch-icon-57x57.png')
      link(rel='apple-touch-icon' sizes='60x60' href='./favicon/apple-touch-icon-60x60.png')
      link(rel='apple-touch-icon' sizes='72x72' href='./favicon/apple-touch-icon-72x72.png')
      link(rel='apple-touch-icon' sizes='76x76' href='./favicon/apple-touch-icon-76x76.png')
      link(rel='apple-touch-icon' sizes='114x114' href='./favicon/apple-touch-icon-114x114.png')
      link(rel='apple-touch-icon' sizes='120x120' href='./favicon/apple-touch-icon-120x120.png')
      link(rel='apple-touch-icon' sizes='144x144' href='./favicon/apple-touch-icon-144x144.png')
      link(rel='apple-touch-icon' sizes='152x152' href='./favicon/apple-touch-icon-152x152.png')
      link(rel='apple-touch-icon' sizes='180x180' href='./favicon/apple-touch-icon-180x180.png')
      link(rel='icon' type='image/png' sizes='32x32' href='./favicon/favicon-32x32.png')
      link(rel='icon' type='image/png' sizes='16x16' href='./favicon/favicon-16x16.png')
      link(rel='manifest' href='./favicon/site.webmanifest')
      link(rel='mask-icon' href='./favicon/safari-pinned-tab.svg' color='#5bbad5')
      link(rel='shortcut icon' href='./favicon/favicon.ico')
      meta(name='msapplication-TileColor' content='#da532c')
      meta(name='msapplication-TileImage' content='./favicon/mstile-144x144.png')
      meta(name='msapplication-config' content='./favicon/browserconfig.xml')
      meta(name='theme-color' content='#ffffff')

    //- link(rel='stylesheet', href='css/fonts.min.css')
    link(rel='stylesheet', href='./css/font-awesome.min.css')
    link(rel='stylesheet', href='./css/bootstrap.min.css')
    link(rel='stylesheet', href='./css/template_dcf29e61b53f916d725329efcb833daa_v1.css')
    link(rel='stylesheet', href='./js/slick.css')
    link(rel='stylesheet', href='./js/slick-theme.css')
    link(rel='stylesheet', href='./css/add.min.css?v0')
  body
    .bx-wrapper#bx_eshop_wrap(style='margin-top: 0px;').--test
      header.bx-header(style="background: #eee;").--test
      .container
        .page_bredcumb
          .bx-breadcrumb(itemscope itemtype='http://schema.org/BreadcrumbList')
            .bx-breadcrumb-item#bx_breadcrumb_0(itemprop='itemListElement' itemscope itemtype='http://schema.org/ListItem')
              a(href='/' title='Инлавка' itemprop='item')
                span(itemprop='name') Инлавка
              meta(itemprop='position' content='0')
            .bx-breadcrumb-item#bx_breadcrumb_1(itemprop='itemListElement' itemscope itemtype='http://schema.org/ListItem')
              i.fa.fa-angle-right
              a(href='/about/' title='О магазине' itemprop='item')
                span(itemprop='name') О магазине
              meta(itemprop='position' content='1')
            .bx-breadcrumb-item(itemprop='itemListElement' itemscope itemtype='http://schema.org/ListItem')
              i.fa.fa-angle-right
              a(itemprop='item')
                span(itemprop='name') Доставка
              meta(itemprop='position' content='2')
            div(style='clear:both')
        h1.bx-title.dbg_title#pagetitle Наши салоны в Москве
      .workarea
        .container.bx-content-seection

          // Contacts
          .contacts
            .contacts__block
              .contacts__block-wrapper
                .div1
                  .contacts__block-title 
                    span г. Москва, м.Смоленская, Смоленская площадь, д.3, 
                    b ТДЦ "Смоленский Пассаж", 
                    span цокольный этаж
                  .contacts__block-address
                    .contacts__block-row
                      .div Телефон:
                      .div
                        a(href="tel:")
                          b +7 (495) 926-29-86
                    .contacts__block-row
                      .div What`sApp: 
                      .div
                        a(href="#!")
                          b +7 985 700-88-04
                    .contacts__block-row
                      .div Режим работы: 
                      .div
                        b ежедневно с 10 до 21
                  .contacts__block-btns
                    .div
                      a(href="#!").link-map Посмотреть на карте
                    .div
                      a(href="#!").link-catalog Посмотреть ассортимент салона
                .div2
                  .contacts__carousel
                    .contacts__carousel-block
                      img(src="./tmp/contacts-img-1.png", alt="").img-responsive
                    .contacts__carousel-block
                      img(src="./tmp/contacts-img-2.png", alt="").img-responsive
                    .contacts__carousel-block
                      img(src="./tmp/contacts-img-1.png", alt="").img-responsive
                    .contacts__carousel-block
                      img(src="./tmp/contacts-img-2.png", alt="").img-responsive
                    .contacts__carousel-block
                      img(src="./tmp/contacts-img-1.png", alt="").img-responsive
                    .contacts__carousel-block
                      img(src="./tmp/contacts-img-2.png", alt="").img-responsive
            .contacts__block
              .contacts__block-wrapper
                .div1
                  .contacts__block-title 
                    span г. Москва, м.Проспект Вернадского/Калужская, Ленинский Проспект, д. 109
                    b ТРЦ "Рио", 
                    span цокольный этаж, Riviera Maison
                  .contacts__block-address
                    .contacts__block-row
                      .div Телефон:
                      .div
                        a(href="tel:")
                          b +7 (495) 926-29-86
                    .contacts__block-row
                      .div What`sApp: 
                      .div
                        a(href="#!")
                          b +7 985 700-88-04
                    .contacts__block-row
                      .div Режим работы: 
                      .div
                        b ежедневно с 10 до 21
                  .contacts__block-btns
                    .div
                      a(href="#!").link-map Посмотреть на карте
                    .div
                      a(href="#!").link-catalog Посмотреть ассортимент салона
                .div2
                  .contacts__carousel
                    .contacts__carousel-block
                      img(src="./tmp/contacts-img-2.png", alt="").img-responsive
                    .contacts__carousel-block
                      img(src="./tmp/contacts-img-1.png", alt="").img-responsive
                    .contacts__carousel-block
                      img(src="./tmp/contacts-img-2.png", alt="").img-responsive
                    .contacts__carousel-block
                      img(src="./tmp/contacts-img-1.png", alt="").img-responsive
                    .contacts__carousel-block
                      img(src="./tmp/contacts-img-2.png", alt="").img-responsive
                    .contacts__carousel-block
                      img(src="./tmp/contacts-img-1.png", alt="").img-responsive
        
          // Map address
          .map-address
            .div1 
              .map-address__title Найти ближайший магазин
            .div2 
              form(action="#!").map-address__form
                input(type="text" value="Россия, Москва, улица Пришвина, 26 ").map-address__form-input
                select.map-address__form-select
                  option(value="") ТДЦ "Смоленский Пассаж" 1
                  option(value="") ТДЦ "Смоленский Пассаж" 2
                  option(value="") ТДЦ "Смоленский Пассаж" 2 22232 23 23
                button(type="submit").map-address__form-btn 
                  span Построить маршрут
                  svg(width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M18.6833 14.4937H7.27606C6.69855 14.4937 6.22852 14.0233 6.22852 13.4445C6.22852 12.8662 6.69855 12.3958 7.27606 12.3958H11.6032L10.6902 11.1653H7.27606C6.02016 11.1653 4.99805 12.1878 4.99805 13.4445C4.99805 14.7017 6.02016 15.7242 7.27606 15.7242H18.6833C19.2826 15.7242 19.7702 16.2123 19.7702 16.8127C19.7702 17.4132 19.2826 17.9013 18.6833 17.9013H6.1432C6.20936 18.2951 6.21375 18.7121 6.1432 19.1317H18.6833C19.961 19.1317 21.0007 18.0916 21.0007 16.8127C21.0007 15.5339 19.961 14.4937 18.6833 14.4937Z' fill='white')
                    path(d='M2.48165 16.0332C1.11329 16.0332 0 17.1473 0 18.5166C0 19.886 1.11329 21 2.48165 21C3.85001 21 4.9633 19.8859 4.9633 18.5166C4.9633 17.1473 3.85001 16.0332 2.48165 16.0332ZM2.48165 19.7695C1.79177 19.7695 1.23047 19.2074 1.23047 18.5166C1.23047 17.8258 1.79177 17.2637 2.48165 17.2637C3.17153 17.2637 3.73283 17.8258 3.73283 18.5166C3.73283 19.2074 3.17153 19.7695 2.48165 19.7695Z' fill='white')
                    path(d='M13.381 5.31199C13.7203 5.31199 13.9964 5.03542 13.9964 4.69549C13.9964 4.35555 13.7203 4.07898 13.381 4.07898C13.0417 4.07898 12.7656 4.35555 12.7656 4.69549C12.7656 5.03542 13.0417 5.31199 13.381 5.31199Z' fill='white')
                    path(d='M12.9201 12.1061C13.1668 12.4386 13.667 12.4382 13.9119 12.1013L17.147 7.65097C19.5296 4.55425 17.3304 0 13.3816 0C9.45166 0 7.25651 4.5095 9.58254 7.60659C9.59436 7.6237 9.4353 7.40849 12.9201 12.1061ZM13.3816 2.84845C14.3994 2.84845 15.2274 3.67701 15.2274 4.69543C15.2274 5.71385 14.3994 6.5424 13.3816 6.5424C12.3638 6.5424 11.5357 5.71385 11.5357 4.69543C11.5357 3.67701 12.3638 2.84845 13.3816 2.84845Z' fill='white')

        // Map
        #map.map
        
        .container

          // Partners
          .partners
            .partners__row
              div
                .partners__block
                  .partners__block-thumb 
                    a(href="#!") 
                      img(src="./tmp/partners-img-1.png", alt="")
                  .partners__block-title г. Абакан, салон Инлавка, ул. Ленина 80
                    div
                      a(href="tel:") +7 (390) 222-35-23
              div
                .partners__block
                  .partners__block-thumb 
                    a(href="#!") 
                      img(src="./tmp/partners-img-2.png", alt="")
                  .partners__block-title г. Севастополь, салон Инлавка, ул. Вакуленчука 29, ТРЦ Муссон
                    div
                      a(href="tel:") +7 (390) 222-35-23
              div
                .partners__block
                  .partners__block-thumb 
                    a(href="#!") 
                      img(src="./tmp/partners-img-3.png", alt="")
                  .partners__block-title г. Сочи, салон Инлавка, ул. Лермонтова 3
                    div
                      a(href="tel:") +7 (918) 208-01-07
              div
                .partners__block
                  .partners__block-thumb 
                    a(href="#!") 
                      img(src="./tmp/partners-img-1.png", alt="")
                  .partners__block-title г. Уфа, салон Инлавка, ул. Менделеева 158, 2 этаж, ТЦ "ВДНХ-ДОМ", 
                    div
                      a(href="tel:") +7 (917) 409-38-55
              div
                .partners__block
                  .partners__block-thumb 
                    a(href="#!") 
                      img(src="./tmp/partners-img-2.png", alt="")
                  .partners__block-title г. Киров, ул. Ленина, 205, ТЦ Green haus , 2 этаж 
                    div
              div
                .partners__block
                  .partners__block-thumb 
                    a(href="#!") 
                      img(src="./tmp/partners-img-3.png", alt="")
                  .partners__block-title г. Иркутск, Карла Маркса 40, Галерея Революция 2 этаж, магазин Tomma Home
                    div
                      a(href="tel:") +7 (3952) 610-433

          // Coffee
          .coffee
            .div1
              img(src="./tmp/coffee-img.png", alt="")
            .div2 Наши салоны Инлавка открыты для вас ежедневно с 10.00 до 22.00, а некоторые и еще дольше! Заходите, угоститесь чашечкой кофе и в приятной обстановке выбирайте мебель и декор для интерьеров во французском или американском стилях.

      footer(style="background: #eee; height: 50px")
      script(src="./js/jquery.js")
      script(src="./js/ru_local_templates_eshop_bootstrap_green_js_additional_slick.min.js")
      script(src="./js/common.js")

      script(src='https://api-maps.yandex.ru/2.1/?apikey=ваш API-ключ&lang=ru_RU' type='text/javascript')
      script(type='text/javascript').
        // Функция ymaps.ready() будет вызвана, когда
        // загрузятся все компоненты API, а также когда будет готово DOM-дерево.
        ymaps.ready(init);
        function init(){
            // Создание карты.
            if ($("#map").length) {

              var myMap = new ymaps.Map('map', {
                  center: [55.713018, 37.641454],
                  zoom: 16,
                  controls: ['zoomControl']
                }, {}),

                myPlacemark = new ymaps.Placemark([55.713018, 37.641454], {
                  hintContent: '',
                  balloonContent: ''
                }, {
                  // Опции.
                  // Необходимо указать данный тип макета.
                  iconLayout: 'default#image',
                  // Своё изображение иконки метки.
                  iconImageHref: './tmp/marker.png',
                  // Размеры метки.
                  iconImageSize: [35, 51],
                  // Смещение левого верхнего угла иконки относительно
                  // её "ножки" (точки привязки).
                  iconImageOffset: [0, 0]
                });

              myMap.behaviors.disable('scrollZoom');

              myMap.geoObjects
                .add(myPlacemark);

            }
        }

